@import '../../styles/_variables';
@import '../../styles/_fonts';

.label {
  color: $grey;
  font-family: $font-lato;
  font-size: 13px;
}

.red {
  background-color: $white;
  border-color: $red;
  border-radius: 5px;
  border-style: solid;
  margin: 0 20px 0 10px;
  padding: 10px 0;
  transition: background-color 0.5s;
  width: 120px;

  &:hover, &:focus, &:active {
    background-color: $red;
    cursor: pointer;

    .label {
      color: $white;
      cursor: pointer;
    }
  }
}

.green {
  background-color: $white;
  border-color: $green;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 0;
  transition: background-color 0.5s;
  width: 120px;

  &:hover, &:focus, &:active {
    background-color: $green;
    cursor: pointer;

    .label {
      color: $white;
      cursor: pointer;
    }
  }
}
