@import '../../styles/_variables';
@import '../../styles/_fonts';

.label {
  color: $grey;
  font-family: $font-lato;
  font-size: 13px;
}

.red {
  background-color: $white;
  border: 3px $red solid;
  border-radius: 5px;
  margin: 0 20px 0 10px;
  outline-color: lighten($red, 25%);
  padding: 10px 0;
  transition: background-color 0.5s;
  width: 120px;

  &:hover, &:focus, &:active {
    background-color: $red;
    cursor: pointer;

    .label {
      color: $white;
    }
  }
}

.red-solid {
  background-color: $red;
  border-radius: 5px;
  border: none;
  outline-color: lighten($red, 25%);
  padding: 10px;
  transition: background-color 0.5s;

  .label {
    color: $white;
    font-size: 20px;
  }

  &:hover, &:focus, &:active {
    background-color: darken($red, 8%);
    cursor: pointer;
  }
}

.green {
  background-color: $white;
  border: 3px $green solid;
  border-radius: 5px;
  outline-color: lighten($green, 25%);
  padding: 10px 0;
  transition: background-color 0.5s;
  width: 120px;

  &:hover, &:focus, &:active {
    background-color: $green;
    cursor: pointer;

    .label {
      color: $white;
    }
  }
}
