@import '../../styles/_variables';

.header {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__logo {
    width: 100px;
  }
}
